<div class="max-w-screen min-h-screen pt-3">
  <div>
    <div class="text-center text-3xl pt-2 mb-4 text-dark-text">M&nbsp; O&nbsp; K&nbsp; O&nbsp; S&nbsp; H</div>
    <div routerLink="/" class="text-center text-3xl max-w-2xl mx-auto p-8 rounded bg-panel-background/20 backdrop-blur text-dark-text font-thin">
      <span *ngIf="getLanguage == 'rs'">Digitalni filter zagađenja vazduha</span>
      <span *ngIf="getLanguage == 'en'">Digital Air Pollution Filter</span>
    </div> 
  </div>

  <div class="text-center justify-center items-center">
      
    <router-outlet></router-outlet>

    <!-- Button trigger modal -->
    <button type="button" class="w-7 bg-footer text-panel-buttons-gradient-l rounded-full transition-color duration-500" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-info"></i>
    </button>
    
    <button type="button" (click)="changeLanguage()" class="m-2 w-10 bg-footer text-panel-buttons-gradient-l rounded-full transition-color duration-500">
      <span *ngIf="getLanguage == 'rs'">
        EN
      </span>
      <span *ngIf="getLanguage == 'en'">
        RS
      </span>
    </button>

    <!-- Modal -->
    <div class="modal text-dark-text fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="getLanguage == 'rs'" class="modal-title" id="exampleModalLabel">
              Informacije o slici
            </h5>
            <h5 *ngIf="getLanguage == 'en'" class="modal-title" id="exampleModalLabel">
              Image information
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <svg aria-hidden="true" class="w-5 h-5" fill="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <div class="modal-body">
            <p *ngIf="getLanguage == 'rs'" class="text-base leading-relaxed">
              Vaše slike će kod nas biti sačuvane samo tokom obrađivanja, nakon čega će biti obrisane.
              Predlažemo da sliku preuzmete koristeći dugme "Preuzmi sliku" 
              ili sačuvate screenshot kako biste bili sigurni da je sačuvana.<br>
              Pomeranjem slajdera na slici možete videti Vašu sliku pre i posle filtera.
            </p>
            <p *ngIf="getLanguage == 'en'" class="text-base leading-relaxed">
              Your images are on our server only during processing, after which they are deleted.
              We suggest you download your image using the "Download image" button
              or take a screenshot in order to make sure you have the image saved.
              Moving the slider left or right over the image shows the before and after the filter has been applied.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-2xl mx-auto p-8 rounded mb-5 bg-panel-background/10 backdrop-blur">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item bg-panel-background/10">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="relative flex items-center bg-gradient-to-r from-panel-buttons-gradient-l via-panel-buttons-gradient-mid to-panel-buttons-gradient-2 text-light-text
            px-5 py-3 w-full font-medium text-left transition-color duration-500
            divide-y collapsed rounded-t-xl"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <span *ngIf="getLanguage == 'rs'">
                Šta je zagađenje vazduha?
              </span>
              <span *ngIf="getLanguage == 'en'">
                <!-- ENGLISH -->
                What is air pollution?
              </span>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse bg-text-color" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body bg-panel-background/10 text-dark-text">
              <div class="p-2 bg-gray-100">
                <p *ngIf="getLanguage == 'rs'" class="m-3 text-justify">
                  Zagađenje vazduha podrazumeva hemikalije, čestice i biološke materije koji ugrožavaju životnu sredinu i samim tim sva živa bića, uključujući i ljude.
                  Svrha ove veb aplikacije jeste da približi količinu zagađenosti u vazduhu vizuelizacijom sa kojom smo svi upoznati i na način koji nam je opipljiv (smog, prašina, dim) - zagađenost inače nedivljivih štetnih materija. <br><br>
                  Zagađujuće materije uključuju sumpor dioksid (SO<sub>2</sub>), azot-dioksid (NO<sub>2</sub>), suspendovane čestice (PM<sub>10</sub> i PM<sub>2.5</sub>), ozon (O<sub>3</sub>), ugljen-monoksid (CO), olovo (Pb) i benzen (C<sub>6</sub>H<sub>6</sub>).
                  Kako bi se predstavila koncentracija ovih štetnih materija u vazduhu i njihov uticaj na sveopšte stanje živih bića uveden je indeks kvaliteta vazduha (AQI) čije referentne vrednosti možete videti u tabelama ispod za čestice (PM<sub>2.5</sub> i PM<sub>10</sub>) koje su izmerene senzorima sa kojih se prikupljaju podaci.<br><br>
                  <b>Trenutno je u toku online peticija "Rešenje za zagađenje" koju možete potpisati na <a class="text-blue-700" href="https://peticije.kreni-promeni.org/petitions/trazimo-resenje-za-zagadenje-1"><i>ovom linku </i></a>!</b>
                  </p>
                <p *ngIf="getLanguage == 'en'" class="m-3 text-justify">
                  Air pollution includes (but is not limited to) chemicals, particles and biological substances that endanger the environment and therefore all living things, including humans.
                  The purpose of this web application is to approximate the amount of pollution in the air by means of visualization which is easy to understand and in a way that is tangible to us (smog, dust, smoke) - the effects of otherwise invisible harmful substances. <br><br>
                  Pollutants include sulfur dioxide (SO<sub>2</sub>), nitrogen dioxide (NO<sub>2</sub>), suspended particles (PM<sub>10</sub> and PM<sub>2.5 </sub>), ozone (O<sub>3</sub>), carbon monoxide (CO), lead (Pb) and benzene (C<sub>6</sub>H<sub>6</sub>).
                  In order to present the concentration of these harmful substances in the air and their impact on the overall condition of living beings, the air quality index (AQI) was introduced, the reference values ​​of which can be seen in the tables below for particles (PM<sub>2.5</sub> and PM<sub >10</sub>) which were measured by the sensors from which data is collected.<br><br>
                  <b>An online petition "Rešenje za zagađenje" ("Solution for pollution") is currently underway - you can sign it at <a class="text-blue-700" href="https://peticije.kreni-promeni.org/petitions/trazimo-resenje- for-pollution-1"><i>this link </i></a>!</b>
                </p>
              </div>                
            </div>
          </div>
        </div>
        <div class="accordion-item bg-panel-background/10">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="relative flex items-center bg-gradient-to-r from-panel-buttons-gradient-l via-panel-buttons-gradient-mid to-panel-buttons-gradient-2 text-light-text
            px-5 py-3 w-full font-medium text-left transition-color duration-500
            divide-y collapsed"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <span *ngIf="getLanguage == 'rs'">
                Suspendovane čestice
              </span>
              <span *ngIf="getLanguage == 'en'">
                <!-- ENGLISH -->
                Particulate Matter
              </span>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body bg-panel-background/10 text-dark-text">
              <div class="p-2 bg-gray-100">
                <p *ngIf="getLanguage == 'rs'" class="m-3 text-justify">
                    PM<sub>2.5</sub> čestice imaju prečnik manji od 2,5 mikrometara, što je oko 3% debljine ljudske dlake.
                    One, kao i PM<sub>10</sub> čestice koje su prečnika 10 mikrometara, definisane su po veličini ali mogu biti sačinjene od stotinu različitih hemikalija.
                    Za više informacija o različitim izvorima ovih čestica i njihov uticaj na zdravlje pogledajte <a class="text-blue-700" href="https://www.epa.gov/pm-pollution/particulate-matter-pm-basics">ovde</a>.
                    <img src="static/assets/pm25_comparison.jpg">
                </p>
                <p *ngIf="getLanguage == 'en'" class="m-3 text-justify">
                  PM<sub>2.5</sub> particles have a diameter of less than 2.5 micrometers, which is about 3% of the thickness of a human hair.
                  They, like PM<sub>10</sub> particles, which are 10 micrometers in diameter, are defined by size but can be made up of hundreds of different chemicals.
                  For more information on the different sources of these particles and their health effects, see <a class="text-blue-700" href="https://www.epa.gov/pm-pollution/particulate-matter-pm-basics" >here</a>.
                  <img src="static/assets/pm25_comparison.jpg">
                </p>
              </div>                
            </div>
          </div>
        </div>
        <div class="accordion-item bg-panel-background/10">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="relative flex items-center bg-gradient-to-r from-panel-buttons-gradient-l via-panel-buttons-gradient-mid to-panel-buttons-gradient-2 text-light-text
            px-5 py-3 w-full font-medium text-left transition-color duration-500
            divide-y collapsed"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <span *ngIf="getLanguage == 'rs'">
                PM<sub>2.5</sub> AQI tabela
              </span>
              <span *ngIf="getLanguage == 'en'">
                <!-- ENGLISH -->
                PM<sub>2.5</sub> AQI table
              </span>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body bg-gray-100 text-dark-text">
              <div class="overflow-x-auto bg-gray-100">
                <div class="flex flex-col">
                  <div class="sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                      <div class="overflow-x-auto">
                        <table class="min-w-full">
                          <thead class="border-b">
                            <tr>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                  <span>
                                    PM<sub>2.5</sub>
                                  </span>
                              </th>
                              <th scope="col" colspan="2" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Koncentracija (μg/m<sup>3</sup>)
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Concentration (μg/m<sup>3</sup>)
                                  </span>
                              </th>
                              <th scope="col" colspan="2" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                AQI
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="bg-gray-100 border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Kvalitet vazduha
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Air quality
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                <span *ngIf="getLanguage == 'rs'">
                                  donja granica
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  lower bound
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                <span *ngIf="getLanguage == 'rs'">
                                  gornja granica
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  upper bound
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                <span *ngIf="getLanguage == 'rs'">
                                  donja granica
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  lower bound
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                <span *ngIf="getLanguage == 'rs'">
                                  gornja granica
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  upper bound
                                </span>
                              </td>
                            </tr>
                            <tr class="bg-[#3EBD11] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Dobar
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Good
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                0
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                12
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                0
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                50
                              </td>
                            </tr>
                            <tr class="bg-[#E3DC33] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Umeren
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Moderate
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                12.1
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                35.4
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                51
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                100
                              </td>
                            </tr>
                            <tr class="bg-[#E08111] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Nezdrav za osetljive grupe
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Unhealthy for sensitive groups
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                35.5
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                55.4
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                101
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                150
                              </td>
                            </tr>
                            <tr class="bg-[#D10000] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Nezdrav za sve
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Unhealthy for all
                                </span>  
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                55.5
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                150.4
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                151
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                200
                              </td>
                            </tr>
                            <tr class="bg-[#761586] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <span *ngIf="getLanguage == 'rs'">
                                  Vrlo nezdrav
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Very unhealthy
                                </span>
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                150.5
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                250.4
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                201
                              </td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                300
                              </td>
                            </tr>
                            <tr class="bg-[#4e0000] border-b">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                                <span *ngIf="getLanguage == 'rs'">
                                  Opasan
                                </span>
                                <span *ngIf="getLanguage == 'en'">
                                  <!-- ENGLISH -->
                                  Hazardous
                                </span>
                              </td>
                              <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-l">
                                250.5
                              </td>
                              <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-r">
                                500.4
                              </td>
                              <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-l">
                                301
                              </td>
                              <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-r">
                                500
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
          </div>
        </div>
        </div>
        <div class="accordion-item bg-panel-background/10">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="relative flex items-center bg-gradient-to-r from-panel-buttons-gradient-l via-panel-buttons-gradient-mid to-panel-buttons-gradient-2 text-light-text
            px-5 py-3 w-full font-medium text-left transition-color duration-500
            divide-y collapsed"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <span *ngIf="getLanguage == 'rs'">
              PM<sub>10</sub> AQI tabela
            </span>
            <span *ngIf="getLanguage == 'en'">
              <!-- ENGLISH -->
              PM<sub>10</sub> AQI table
            </span>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body bg-gray-100 text-dark-text">
              <div class="overflow-x-auto bg-gray-100">
                <div class="flex flex-col">
                    <div class="sm:-mx-6 lg:-mx-8">
                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-x-auto">
                          <table class="min-w-full">
                            <thead class="border-b">
                              <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                  <span>
                                    PM<sub>2.5</sub>
                                  </span>
                              </th>
                              <th scope="col" colspan="2" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Koncentracija (μg/m<sup>3</sup>)
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Concentration (μg/m<sup>3</sup>)
                                  </span>
                              </th>
                              <th scope="col" colspan="2" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                                AQI
                              </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bg-gray-100 border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Kvalitet vazduha
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Air quality
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  <span *ngIf="getLanguage == 'rs'">
                                    donja granica
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    lower bound
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  <span *ngIf="getLanguage == 'rs'">
                                    gornja granica
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    upper bound
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  <span *ngIf="getLanguage == 'rs'">
                                    donja granica
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    lower bound
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  <span *ngIf="getLanguage == 'rs'">
                                    gornja granica
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    upper bound
                                  </span>
                                </td>
                              </tr>
                              <tr class="bg-[#3EBD11] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Dobar
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Good
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  0
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  54
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  0
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  50
                                </td>
                              </tr>
                              <tr class="bg-[#E3DC33] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Umeren
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Moderate
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  55
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  154
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  51
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  100
                                </td>
                              </tr>
                              <tr class="bg-[#E08111] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Nezdrav za osetljive grupe
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Unhealthy for sensitive groups
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  155
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  254
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  101
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  150
                                </td>
                              </tr>
                              <tr class="bg-[#D10000] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Nezdrav za sve
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Unhealthy for all
                                  </span>  
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  255
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  354
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  151
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  200
                                </td>
                              </tr>
                              <tr class="bg-[#761586] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Vrlo nezdrav
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Very unhealthy
                                  </span>
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  355
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  424
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-l">
                                  201
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">
                                  300
                                </td>
                              </tr>
                              <tr class="bg-[#4e0000] border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                                  <span *ngIf="getLanguage == 'rs'">
                                    Opasan
                                  </span>
                                  <span *ngIf="getLanguage == 'en'">
                                    <!-- ENGLISH -->
                                    Hazardous
                                  </span>
                                </td>
                                <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-l">
                                  425
                                </td>
                                <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-r">
                                  604
                                </td>
                                <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-l">
                                  301
                                </td>
                                <td class="text-sm text-gray-300 font-light px-6 py-4 whitespace-nowrap border-r">
                                  500
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-panel-background/10">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="relative flex items-center bg-gradient-to-r from-panel-buttons-gradient-l via-panel-buttons-gradient-mid to-panel-buttons-gradient-2 text-light-text
            px-5 py-3 w-full font-medium text-left transition-color duration-500
            divide-y collapsed rounded-b-xl"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              <span *ngIf="getLanguage == 'rs'">
                Informacije o sajtu
              </span>
              <span *ngIf="getLanguage == 'en'">
                <!-- ENGLISH -->
                Website information
              </span>
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body bg-panel-background/10 text-dark-text">
              <div class="p-2 bg-gray-100">
                <div *ngIf="getLanguage == 'rs'" class="m-3 text-justify">
                  Za korišćenje veb aplikacije neophodno je da dozvolite pristup lokaciji i kameri sajtu, kao i da vam lokacija bude uključena tokom korišćenja. 
                  Podaci o lokaciji, slike koje filtrirate, niti bilo kakvi lični podaci nigde neće biti sačuvani, već će se koristiti samo za pronalaženje najbližeg senzora vašoj lokaciji i obrađivanje slike. 
                  Podaci o zagađenosti vazduha su preuzeti sa <a class="text-blue-700" href="https://sensor.community/en/">Sensor Community</a> sajta koji mere PM<sub>2.5</sub> i PM<sub>10</sub> čestice, dok su opšti podaci o zagađenosti vazduha 
                  preuzeti sa sajta <a class="text-blue-700" href="http://www.sepa.gov.rs/">Agencije za zaštitu životne sredine, Ministarstva zaštite životne sredine Republike Srbije</a>.
                </div>
                <div *ngIf="getLanguage == 'en'" class="m-3 text-justify">
                  To use the web application, it is necessary that you allow the website access to your device's location and camera, as well as that your location is turned on during use.
                  The location data, the images you filter, or any personal data are not stored anywhere, and are only used to find the closest sensor to your location and process the image.
                  Air pollution data is pulled from the <a class="text-blue-700" href="https://sensor.community/en/">Sensor Community</a> service which measures PM<sub>2.5</sub> i PM<sub>10</sub> particles, while
                  general data on air pollution were taken from the website of <a class="text-blue-700" href="http://www.sepa.gov.rs/">the Environmental Protection Agency, Ministry of Environmental Protection of the Republic of Serbia</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <style>
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
</style> -->